#map {
  height: 100%;
  width: 60%;
  float: right;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
}

p {
  font-family: 'Gentium Basic', serif;
}

li.active {
  background-color: grey;
}

nav.div {
  display: inline-block;
}
