
* {
  box-sizing: border-box;
  border-radius: 4px;
  list-style-type: none;
  background-color: HSLA(214, 26%, 19%, 0.1);
}

html, body {
  height: 100%;
  margin: 0.1em;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
}

p {
  font-family: 'Gentium Basic', serif;
}

nav {
  display: inline-block;
  margin: auto;
  height: 15%;
  width: 100%;
}

section .panel {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

section img {
  width: 4em;
  margin-left: 1em;
}

#weather-box h2 {
  float: right;
}

#warning-container {
  background-color: red;
  text-align: center;
}

.map {
  height: 50%;
  width: 100%;
}

.list {
  height: 50%;
  display: inline;
  overflow: scroll;
}

ul {
  margin: 0 auto;
}

li {
  margin: 0.2em 0;
  padding: 0.2em;
}

li.active {
  background-color: grey;
}

footer {
   position: relative;
   width: 100%;
   height: 2vh;
}

@media (min-width: 667px) {
  body {
    font-size: 2vw;
  }

  .panel {
    display: inline-block;
    margin: 0 auto;
    width: 48%;
    float: left;
  }

  .panel h2 {
    font-size: 3em;
    margin-right: 1em;
  }

  #map {
    height: 100%;
    width: 60%;
    float: left;
  }

  .list {
    height: 100%;
    width: 40%;
    float: right;
  }

}
